
* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(77, 77, 77);
}
.container-global {
  margin: 0 auto;
}

.container {
  object-fit: cover;
}

.contact-holder {
  width: 500px;
  height: 250px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ccc;
}

.contact-holder-single {
  flex-basis: 50%;
}

.contact-button {
  display: block;
  width: 180px;
  color: #fff;
  background-color: blueviolet;
  margin: 5px;
}

.header {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(54, 50, 50);
}

.nav-items-links li  {
  list-style: none;
  display: inline-block;
  margin: 10px;
  color: #fff;
}

.nav-items-links li a {
  color: #fff;
}







