
* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(77, 77, 77);
}

.padding {
  margin: 60px;
}
.contact-us-title {
  margin-top: 50px;
  text-align: center;
}
.contact-holder {
  width: 900px;
  height: 350px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact-holder-single {
  flex-basis: 50%;
}

.input-name {
  width: 340px;
  margin: 10px;
  outline: none;
}

.input-message {
  width: 340px;
  height: 60px;
  margin: 10px;
  outline: none;
}

.btn-success {
  display: block;
  width: 340px;
  margin: 10px;
  outline: none;
}


.header {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(54, 50, 50);
}

.nav-items-links li  {
  list-style: none;
  display: inline-block;
  margin: 10px;
  color: #fff;
}

.nav-items-links li a {
  color: #fff;
}

@media screen and (max-width: 992px) {
  .nav-items-links li {
    display: none;
  }
}

.about-us-holder {
  margin: 0 auto;
  width: 1000px;
  height: 350px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: nowrap;
}

.about-us-single {
  flex-basis: 50%;
}

.about-us-holder p {
  margin: 10px;
}

.scroll-to-top {
  position: fixed;
  bottom: 12px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgb(54, 50, 50) ;
  color: #fff;
  z-index: 1;
}

.scroll-to-top .icon {
  margin-top: 10px;
  animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}
.row {
  margin: 0 auto;
}

.col-md-3 {
  margin: 10px 0;
}

.block-tabs {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.tabs {
  cursor: pointer;
  margin: 15px;
}

.product-holder {
  margin: 0 auto;
  width: 100%;
}

.product-holder-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-holder-single {
  flex-basis: 25%;
}

.product-holder-single img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 20px 20px;
}











