@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:ital,wght@1,500&display=swap');
* {
  font-family: "Roboto", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  margin: 55px;
  text-align: center;
}
.contact-holder {
  width: 700px;
  height: 350px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.contact-holder-single {
  flex-basis: 50%;
  margin: 20px;
}

.contact-holder-single-para {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.input-name {
  width: 340px;
  margin: 10px;
  outline: none;
}

.input-message {
  width: 340px;
  height: 60px;
  margin: 10px;
  outline: none;
}

.btn-success {
  display: block;
  width: 340px;
  margin: 10px;
  outline: none;
}

.about-us-holder {
  margin: 0 auto;
  width: 1000px;
  height: 350px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: nowrap;
}

.about-us-single {
  flex-basis: 50%;
}

.about-us-holder p {
  margin: 10px;
}

.scroll-to-top {
  position: fixed;
  bottom: 12px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgb(54, 50, 50) ;
  color: #fff;
  z-index: 1;
}

.scroll-to-top .icon {
  margin-top: 10px;
  animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}














